:root {
    --mainColor: #ffbf00;
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
    --mainOrange:#2a2a72;
    --body-color: #F5F5F5;
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

hr {
    margin: 5px !important;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.alert-light {
    background: var(--light-color);
    color: #333
}

.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
}

.text-title{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

#landing {
  background: var(--mainColor);
  text-align: center;
  color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#landing h1 {
  font-size: 50px;
  font-weight: bold;
}

#landing p {
  font-size: 20px;
}

footer {
  padding: 20px;
  color: #ffffff;
  background-color: var(--mainColor);
  text-align: center;
}

  
  table th,	td {
    white-space: nowrap;
	}
  
  
.scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;}
  
.scrollable .is-scrollable:after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px / 50% 0 0 50%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
  content: '';
}
  
/* the overflow-er */
.scrollable > div {
  overflow-x: auto;}
    
/* forces scrollbar for webkit */
.scrollable > div::-webkit-scrollbar {
  height: 12px;
}

.scrollable > div::-webkit-scrollbar-track {
  background: #f0f0f0;
  box-shadow: 0 0 2px rgba(0,0,0,0.15) inset;
}

.scrollable > div::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

.tag-item {
  display: inline-block;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 2rem;
  padding: 0 150px;
}
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: #ddd;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.main-nav a:hover {
  background: #333;
  color: #fff;
}

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.showcase {
  grid-area: showcase;
  min-height: 400px;
  padding: 3rem;
}

.top-box {
  background: #ddd;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

.boxes {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.box {
  background: #ddd;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.info {
  background: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

