.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: #ffbf00;
    height: 56px;
    z-index: 200;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: "Arial Black";
}

.spacer {
    flex: 1;
}

.navbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_navigation-items li {
    padding: 0 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar_navigation-items a {
    color: white;
    text-decoration: none;
}

.navbar_navigation-items a:hover,
.navbar_navigation-itemsa:active {
    color: #fa923f;
}

@media (max-width: 768px) {
    .navbar_logo a{
        font-size: 1.8rem;
    }

    .navbar_navigation-items li {
        padding: 0 1rem;
    }
}