.cart-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 62px;
    right: 0;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    z-index: 300;
}

.cart-drawer.open {
    transform: translateX(0);
    width: 300px;
}

.cartdrawer-items {
    height: 100%;
    list-style: none;
}

.cartdrawer-items.guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartdrawer-items.auth li {
    padding: 15px 10px;
}

.cart-drawer li {
    margin: 0.5rem 0;
}

.cart-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
}

.cart-drawer a:hover,
.cart-drawer a:active {
    color: #fa923f;
}

/* @media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
} */