.landing_banner {
    width: 100vw;
    display: flex;
    height: 75vh;
    margin-bottom: 4rem;
}

.landing_banner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 0 0 3rem;
    max-width: 100%;
    overflow-x: hidden;
    width: 50%;
}

.landing_banner_img {
    height: 100%;
    width: 50%;
}

.landing_banner_content {
    width: 500px;
    max-width: 100%;
}

.landing_container > *{
    margin: 3rem 0;
}

.landing_form {
    display: flex;
    flex-direction: column;
}

.landing_form_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
}

.landing_form_buttons button {
    border-radius: 0;
    height: 50px;
}

.info {
    box-sizing: border-box;
    display: grid;
    padding: 40px 30px;
    width: 100%;
    min-height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 0 4rem;
}

hr {
    background-color: white;
    border: none;
    height: 2px;
    margin: 40px 0;
}

.info div {
    color: #333;
    font-size: 20px;
    text-align: center;
}

.info div i {
    font-size: 3.5rem;
}
.info div p {
    margin: 0 20px;
}

.how_works {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'picture1 how1'
        'how2 picture2'
        'picture3 how3';
    height: 200vh;
}

.how_works h1{
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.how_works h1 span{
    color: #ffbf00;
    font-size: 3rem;
}

.how1 {
    grid-area: how1;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how2 {
    grid-area: how2;
    margin: 0 30px;
    padding-left: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how3 {
    grid-area: how3;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how4 {
    grid-area: how4;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picture1 {
    grid-area: picture1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture2 {
    grid-area: picture2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture3 {
    grid-area: picture3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture4 {
    grid-area: picture4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
        justify-content: start;
        background: url(../../utils/imgs/bannerexpressmobile.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .info {
        grid-template-columns: repeat(2, 1fr);
    }

    .how_works div h1{
        line-height: 40px;
    }
}

@media(max-width: 500px) {
    .info {
        grid-template-columns: repeat(1, 1fr);
    }
    .info div {
        margin-bottom: 30px;
    }

    .how_works div h1{
        line-height: 40px;
    }

    .how_works {
        grid-template-areas: 
            'how1'
            'how2'
            'how3'
            'how4';
        height: 200vh;
    }
}




