// Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

    .profile-settings-box-form {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

// Desktop & Laptops
@include mediaLg {
    .cards {
        column-count: 4;
    }

    .profile-settings-box-form {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 1000px) { 
    .grid-rows {
        padding: 4rem 1rem;
        grid-template-columns: repeat(2, 1fr); /* see notes below */
        grid-gap: 1em;

        & > div {
            margin-top: 1rem;

            h3 {
                margin-bottom: 1rem;
            }
        }
    }

    .secondary-block { 
        padding: 2rem 0; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trending-block {
        grid-template-columns: repeat(3, 1fr);
    }

    .promotion-block {
        padding: 2rem 0;
        .promotion-block-content {
            padding: 0;
        }
    }

    .info {
        grid-template-columns: repeat(2, 1fr);
    }

    .store-settings-container {
        width:100%; 
    
        .store-settings-box {
            width: 75vw; 
            padding:1rem;
        }
    }

    /* Profiles Page */
    .profile-table {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sections"
            "main";

        & > div:nth-child(2) {
            display: none;
        }
    }

    .admin-table {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "sections";

        & > div:first-child {
            display: none;
        }
    }

    .admin-table-main {
        .admin-table-header {
            padding: 10px 0 0 0;
        }
    
        .admin-table-body {
            padding: 10px 0;
        }
    }

    .stats {
        max-width: 100vw;
    }

    .detail-table {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "sections";

        & > div:first-child {
            display: none;
        }
    }
}


// Tablets & Small Laptops
@include mediaMd {
    .mobile {
        display: flex;
        flex-direction: column;
    }
    .desktop {
        display: none;
    }

    .body-container {
        overflow: auto;
    }

    .home-content {
        &.main {
            margin-top: 70px;
        }

        &.nearby {
            margin-top: 50px;
        }
    }

    .jumbotron {
        background-position: right; 
    }

    .jumbotron-slide-form {
        .form-container {
            width: 100%;

            &.sign-in-container {
                width: 100%;
                transform: translateY(0);
            }

            &.sign-up-container {
                width: 100%;
                transform: translateY(0);
            }
        }

        .overlay-container {
            left: 0;
            width: 100%;
            transform: translateY(0);

            .overlay {
                background: linear-gradient($secondary-color, $third-color) no-repeat 0 0 / cover;
                left: 0;
                height: calc(100vh-100px);
                width: 100%;
                transform: translateY(0);

                &-panel {
                    height: calc(100vh-100px);
                    width: 100%;
                    transform: translateY(0);
                }

                &-right {
                    right: 0;
                    transform: translateY(0);
                }

                &-left {
                    transform: translateY(0);
                }
            }
        }

        /* Animation */

        /* Move sign in to the right */
        &.right-panel-active {
            .sign-up-container {
                transform: translateY(0);
            }

            /* Move overlay to the left */
            .overlay-container {
                transform: translateY(0);

                .overlay {
                    transform: translateX(0);

                    &-right {
                        transform: translateY(0);
                    }
                }
            }

            /* Bring sign in over sign up */
            .sign-in-container {
                transform: translateY(0);
            }
        }
    }

    .jumbotron2 {
        background-position: left;
    }

    .jumbocontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .jumbocontent {
        padding-left: 0; 
        padding-right: 0;
    
        .jumboheading {
            height: 100%; 
            display:flex; 
            flex-direction: column; 
            justify-content: center; 
            color: white; 
            padding: 0 1rem;
    
            #sub-heading {
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 2rem;
            }
        }
    }

    .category-boxes {
        grid-gap: 2rem 15px;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .stores-box {
        padding:1rem;
        width: 100%; 
    }

    .stores-box-option {  
        padding: 0.5rem 0rem; 
        .stores-box-option-title a {
            font-size: 1rem; 
            font-weight:500; 
            margin: 0.3rem 1rem;
        }
    }

    .backbutton {
        color:#808080;
        position:absolute;
        margin:10px 0 0 1rem;
        font-size:1.3rem;
    }

    .store-settings-container {
        margin:2rem 0; 
        width:100%; 
    
        .store-settings-box {
            width: 100%; 
            padding:1rem;
        }
    }

    .store-table {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "sections";

        & > div:first-child {
            display: none;
        }
    }

    .store-table-main {
        width: 100%;
        height: 100%;
        grid-area: main;
    
        &.home {
            width: 100%;
        }
    }

    .stats {
        margin: 0 0 1rem 0;
    }

    .stats-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .cart-actions {
        margin-bottom: 50px; 
    }

    /* modal Page*/

    .checkout-modal {
        width: 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "confirm confirm"
            "cart cart"
            "addy addy"
            "pay deliv"
            "totals totals";
    }

    .modal-content-main {
        margin-left: 0;
    }

    .modal-content-secondary {
        margin-right: 0;
    }

    .admin-underline > li { 
        i {
            margin: 1rem;
        }

        p {
            display: none;
        }
    }

    .promotion-block {
        display:flex;
        flex-direction: column; 
        align-items: center;
        padding: 2rem 1rem; 
        width: 100%; 
        height: auto; 

        img {
            max-width: 500px;
        }
    
        .promotion-block-content {
            padding: 1rem;
        }
    }

    .promotion-grid {
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        padding: 40px 1rem;
        align-items: center;
        text-align: center;
    }

    .filter-container {
        width: 100vw; 
    }
    
    .header-nav-container {
        margin: 10px 0; 
    }

    .store-header {
        margin: 10px 0; 
    }

    .product-list-container {
        margin: 10px 0; 
        max-width: 100vw;
    }

    #product-content-wrapper {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-areas:
            "stats" 
            "main";
    
        .product-admin-secondary {
            display: none;
        }
    }

    .store-details {
        margin: 10px 0 0 0;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'titles'
            'description'
            'socials';
        ;
    }

    .social-container {
        display: none; 
    }

    .store-title {
        font-size: 24px;
    }

    .store-img {
        height: 100px; 
        width: 100px; 
        margin: -2rem 1rem 0 1rem; 
    }

    .store-actions-container .store-actions {
        width: 98%;
        padding: 0 2rem;
    }

    .store-actions {
        width: 98%;
    }

    .nav-underline.store {
        margin: 0; 
    }

    .home-underline {
        width: 100vw;
        position: fixed;
        margin-top: 60px;
        z-index: 15;
    }

    .nearby-container {
        width: 100%; 
        // height: calc(100vh - 116px); 
        // position: fixed; 
        grid-template-columns: 1fr;
        grid-template-areas: 
            "map"
            "prodList"
        ;

        & #nearby-container-list {
            margin-top: 40vh;
            z-index: 10;
        }

        & #nearby-container-map {
            width: 100%;
            height: calc(100vh - 60px);
            position: fixed;
            z-index: 5;
        }
    }

    .grid-rows {
        padding: 4rem 0;
        grid-template-columns: repeat(1, 100%); /* see notes below */
        grid-gap: 1em;
    }

    header {
        flex-direction: column;
        padding: 0;

        .nav {
            padding-left: 1rem;
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }

        nav ul {
            display: flex;
            flex-direction: column;

            li {
                margin: 1rem;
            }
        }
    }

    .trending-block {
        grid-template-columns: 1fr;
    }

    .detail-map {
        .detail-sub-images {
            margin: 1rem 0;
            width: 100vw;
            max-width: 100vw;
        }
        .detail-sub-images img {
            margin: 0 1rem;
        }
    }
    
    .nav-bar {
        height: 0;
        overflow: hidden;
        background: $primary-color;
        width: 100%;
        @include easeOut;
    }

    .dropdown {
        width: 100%;
        text-align: center;
    }

    .show-nav {
        height: 330px;
        border-bottom: $secondary-color 2px solid;
    }

    .nav-links {
        height: 0;
    }
    .nav-btn {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        margin-top: -20px;
    }

    .filter-container {
        padding: 0 3rem; 
    }

    .portfolio {
        grid-template-areas: 
            'header'
            'block'
            'work'
        ;
    }

    #posts {
        grid-gap: 20px;
        .cards {
            column-count: 2;
        }
    }

    .box-container div{
        flex-direction: column;
    }


    .about-info {
        grid-template-areas: 
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3'
        ;
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        margin-top: 8rem;
    }

    .hide-sm {
        display: none;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    .profile-settings-box-form {
        grid-template-columns: 1fr 2fr;
    }

    .profile {
    grid-template-columns: 1fr;
    text-align: center;
    }

    .profile ul {
    display: none;
    }

    /* Profile Page */

    .profile-top img,
    .profile img {
    width: 200px;
    margin: auto;
    }

    .profile-grid {
    grid-template-areas:
        'top'
        'about'
        'creds'
        'github';
    }

    .skills {
        flex-wrap: wrap;
    }

    .profile-creds {
        display: flex;
        flex-direction: column;
    }

    .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
    }

    .post {
    grid-template-columns: 1fr;
    }
    .post a,
    .post button {
    padding: 0.3rem 0.4rem;
    }

    footer .footer-content {
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

// Smartphones
@include mediaSm {
    .intro .sm-heading {
        display: none;
    }

    main#home h1 {
        margin-top: 10vh;
    }
}